
body {
    background-color: #696464e1; /* Cor de fundo */
    font-family: Verdana, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

header {
    background-color: #210aee; /* Fundo */
    color: rgb(2, 0, 0); /* Texto */
    padding: 10px; /* Preenchimento */
}

nav {
    background-color: #696464e1; /* Fundo */
    padding: 10px; /* Preenchimento */
}

nav a {
    color: #010108; /* Texto dos links */
    text-decoration: none; /* Remove sublinhado */
    margin-right: 10px; /* Espaçamento dos links */
}

section {
    margin: 20px; /* Margem das seções */
    padding: 10px; /* Preenchimento das seções */
    background-color: white; /* Fundo */
    border: 1px solid #d0d0d0; /* Borda */
}

footer {
    text-align: center; /* Centraliza texto */
    padding: 10px; /* Preenchimento */
    background-color: #505050; /* Fundo */
    color: white; /* Texto */
    margin-top: 20px; /* Espaçamento acima do rodapé */
}
